.item
{
   background-color: lightgrey;
   padding: 1em;
   margin-bottom: 1em;
   display: flex;
}

.item__title
{
   flex-grow: 1;
   display: flex;
}

.item__price
{
   margin-left: 1em;
   font-weight: bold;
}